:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #a49f9f;
  --text-input-field: #f7fef7;
  --hospital-green: #acd9b2;
  --hospital-green-light: #d1e7d4;
  --hospital-strong-green: #5f8d4e;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

html {
  font-size: 62.5%;
}

.mobile-menu {
  background-color: var(--white);
  position: absolute;
  border: solid 1px var(--very-light-pink);
  top: 80px;
  left: 0;
  width: 50%;
  height: auto;
  padding: 24px;
  font-size: var(--md);
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;

}
.icon-mobile-menu {
  width: 36px;
  height: 36px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  transform: rotate(0);
  transition: .2s ease;
}
.icon-mobile-menu:hover {
  cursor: pointer;
  transform: rotate(360deg);
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 24px;
}
.mobile-menu ul li:hover {
  border: 1px solid var(--hospital-green);
}
.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300 !important;
  color: var(--hospital-green)!important;
}

@media (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
  .icon-mobile-menu{
    display: none;
  }
}