:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #a49f9f;
  --text-input-field: #f7fef7;
  --hospital-green: #acd9b2;
  --hospital-green-light: #d1e7d4;
  --hospital-strong-green: #5f8d4e;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}


.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.close-button {
  background: var(--white);
  width: 14px;
  height: 14px;
  padding: 12px;
  border-radius: 50%;
}
.close-button:hover {
  cursor: pointer;
  background: var(--hospital-green-light);
}
