:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #a49f9f;
  --text-input-field: #b3b8b3;
  --hospital-green: #acd9b2;
  --hospital-green-light: #d1e7d4;
  --hospital-strong-green: #5f8d4e;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}


.checkoutMenu {
  background-color: var(--white);
  width: 380px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 82px;
  border-radius: 0 0 20px 20px;
  border: solid 1px var(--very-light-pink);
  padding: 0 24px;
}
.products {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
}
.hidden {
  display: none;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title-container img {
  background: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
  margin-right: 14px;
}
.title-container img:hover {
  cursor: pointer;
  background: var(--very-light-pink);
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}