:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #a49f9f;
  --text-input-field: #f7fef7;
  --hospital-green: #acd9b2;
  --hospital-green-light: #d1e7d4;
  --hospital-strong-green: #5f8d4e;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}
html {
  font-size: 62.5%;
}

nav {
  background: var(--hospital-green-light);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--very-light-pink);
  top: 0;
  position: fixed;
}

.navbar-left .logo img {
  width: 80px;
  height: 80px;
  padding-left: 20px;
}

.navbar-left ul, 
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 80px;
}
.navbar-left {
  display: flex;
}
.navbar-right{ 
  padding: 0 24px;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,  
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  padding: 8px;
  border-radius: 8px;
  font-size: var(--sm);
  display: flex;
  text-align: center;
}
.navbar-left ul li a:hover {
  border: 1px solid var(--hospital-strong-green);
  color: var(--hospital-strong-green);
}
.navbar-right ul li a {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 1.2rem;
}
.navbar-right ul li a:hover {
  color: var(--hospital-strong-green);
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart img {
  transform: rotate(0);
  transition: .3s ease;
}
.navbar-shopping-cart img:hover {
  transform: rotate(360deg);
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -4px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width : 1300px) {
  .logo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navbar-left ul {
      display: none;
  }
  .navbar-my-orders, 
  .navbar-create-account, 
  .navbar-sign-in {
      display: none;
  }

  .icon-mobile-menu {
    display: flex;
    align-items: center;
  }
}

